

a {
    color: rgba(0,0,0,.87);
    text-decoration: none;
}

.v-application a {
    color: rgba(0,0,0,.87);
}

.toc-view {
    position: sticky;
    top: 5rem;
    max-height: 90vh;
    // overflow: scroll;
}

// z-indexを指定
.z-500 {
    z-index: 500;
}

// headerの指定
.v-toolbar__content {
    z-index: 500;
}

.ck-content {
    blockquote {
        overflow: hidden;
        padding-right: 1.5em;
        padding-left: 1.5em;
        margin-left: 0;
        margin-right: 0;
        font-style: italic;
        border-left: solid 5px hsl(0, 0%, 80%);
    }

    &[dir="rtl"] blockquote {
        border-left: 0;
        border-right: solid 5px hsl(0, 0%, 80%);
    }
}

.ck-content-a {
    a {
        color: blue;
        
        &:hover {
            text-decoration: underline;
            color: red;
        }
        &:active {
            color: green;
        }
        &:visited {
            color: purple;
        }
    }
}