

a {
    color: rgba(0,0,0,.87);
    text-decoration: none;
}

.v-application a {
    color: rgba(0,0,0,.87);
}

.toc-view {
    position: sticky;
    top: 5rem;
    max-height: 90vh;
    // overflow: scroll;
}

// z-indexを指定
.z-500 {
    z-index: 500;
}

// headerの指定
.v-toolbar__content {
    z-index: 500;
}